<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Aura Technologies</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots"
	content="all,follow,Aura,Technologies,AuraTechnologies,Aura Technologies,Machining tools,tool,Lathe,Machine service,CNC service">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-googleapis.css">
<link rel="stylesheet" href="css/style.default.css"
	id="theme-stylesheet">
<link rel="stylesheet" href="css/ekko-lightbox.css">
<link rel="stylesheet" href="css/custom.css">
<link rel="shortcut icon" href="img/logoicon.png" />
</head>
<body data-spy="scroll" data-target="#navigation" data-offset="120">
	<section id="intro" class="intro otherpg ">
		<!-- header menu -->
		<div class="header headerbar">
			<header class="header headerbar">
				<div class="sticky-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-lg-3 col-xs-10">
								<a href="#intro" class="navbar-brand scroll-to"> <img
									src="img/Logo.png" alt="" class="logo"> <img
									class="logo-xs" src="img/Logo-xs.png" />
								</a>
							</div>
							<div class="col-md-9 col-lg-9 col-xs-2">
								<div role="navigation" class="navbar navbar-default removeBG">

									<div class="navbar-header">
										<button type="button" data-toggle="collapse"
											data-target=".navbar-collapse"
											class="navbar-btn btn-sm navbar-toggle">
											<span class="icon-bar"></span><span class="icon-bar"></span><span
												class="icon-bar"></span>
										</button>
									</div>
									<div id="navigation"
										class="collapse navbar-collapse navbar-right">
										<ul class="nav navbar-nav">
											<li class=""><a href="home.html">Home</a></li>
											<li class="active"><a href="about.html">About </a></li>
											<li><a href="#services">Services</a></li>
											<li><a href="#portfolio">Portfolio</a></li>
											<li><a href="#text">Text</a></li>
											<li><a href="#contact">Contact</a></li>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
		<!-- header end  -->
	</section>
	<section id="services" style="background-color: #eee">
		<div class="container">
			<div class="row services">
				<div class="col-md-12">
					<h2 class="heading">Services</h2>
					<div class="row">
						<div class="col-sm-4">
							<div class="box">
								<div class="icon">
									<i class="fa fa-desktop"></i>
								</div>
								<h4>Webdesign</h4>
								<p>Fifth abundantly made Give sixth hath. Cattle creature i
									be don't them.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="box">
								<div class="icon">
									<i class="fa fa-print"></i>
								</div>
								<h4>Print</h4>
								<p>Advantage old had otherwise sincerity dependent
									additions. It in adapted natural.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="box">
								<div class="icon">
									<i class="fa fa-globe"></i>
								</div>
								<h4>SEO and SEM</h4>
								<p>Am terminated it excellence invitation projection as. She
									graceful shy.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services end-->
	<!-- navbar-->
	 <footer style="background-color: #111;" class="section-inverse">
      <div class="container"> 
        <div class="row copyright">
          <div class="col-md-6">
            <p>&copy;2015 Your name/company goes here</p>
          </div>
          <div class="col-md-6">
            <p class="credit">Template by <a href="http://bootstrapious.com/landing-pages">Bootstrapious &mdash; Bootstrap Landing Pages</a></p>
            <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :)
            -->
          </div>
        </div>
      </div>
    </footer>
</body>
</html>